<head th:replace="layouts/layout :: head"></head>
<div th:replace="layouts/layout :: nav"></div>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form class="form-inline" action="#"  method="get">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search by name ..."/>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a href="#"  class="btn btn-success float-right">
                <i class="fa fa-plus-square"></i> New contact
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <th:block th:if="${#lists.isEmpty(properties1)}">
            <h5>No Property</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(properties1)}">
            <div class="table-responsive" >
                <h5>List of property</h5>
<!--                <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--                    <span th:text="${successMessage}"></span>-->
<!--                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>location</th>
                        <th>status</th>
                        <th>area</th>
                        <th>beds</th>
                        <th>baths</th>
                        <th>garage</th>
                        <th>Image</th>
                        <th>amount</th>
                        <th>createDate</th>
                        <th>description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pro,iterStat : ${properties1}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${pro.name}"></td>
                        <td th:text="${pro.location}"></td>
                        <td th:text="${pro.status}"></td>
                        <td><img style="width: 100px" th:src="${pro.main_image}"/></td>
                        <td th:text="${pro.amount}"></td>
                        <td th:text="${pro.createDate}"></td>
                        <td th:text="${pro.description}" style="max-height: 200px"></td>
                        <td th:text="${pro.area}"></td>
                        <td th:text="${pro.beds}"></td>
                        <td th:text="${pro.baths}"></td>
                        <td th:text="${pro.garage}"></td>
                        <td> <a href="#" th:href="@{/agent/update/{id}(id = ${pro.id})}" class="btn btn-success">Upload</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div><!-- /.container -->

<section th:replace="layouts/layout :: sectionfooter"></section>
<footer th:replace="layouts/layout :: footer"></footer>
<div th:replace="layouts/layout :: javascript"></div>